/* Font importato da google*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

$primario : #1e2029;
$secondario : #9a6aff;
$terziario : #e3e3e3;
$h1_font : 'Space Grotesk', sans-serif;
$h1_margin : 1rem;
$h1_size : 3.6rem;
$h2_size : 2.2rem;
$h3_size : 1.8rem;
$h4_size : 1.5rem;
$h1_weight : bold;
$h1_align : center;
