/* Font importato da google*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(224,195,252);
    background: radial-gradient(circle, rgba(224,195,252,1) 0%, rgba(142,197,252,1) 100%);
}

/*Spacer*/
 
.spacer {
    height: 150px;
}

/*font: dimensione, spessore e colore */


h1 {font-size: 3.6rem;margin-bottom:1rem; font-weight: bold; color: #1e2029; text-align: center;}
h2 {font-size: 2.6rem;margin-bottom:1rem;line-height: 1; color: #1e2029;}
h3 {font-size: 1.8rem;margin-bottom:1rem;line-height: 1.2; color: #1e2029;}
h4 {font-size: 1.5rem;margin-bottom:1rem;line-height: 1.2; color: #1e2029;}


h1 {
    font-weight: bold;
}

ul {
    list-style: none;
}


.bottone {
    padding: 20px;
    border: 1px solid color #9a6aff;
    border-radius: 8px;
    background-color: #9a6aff;
    a {
        text-decoration: none;
        color: #e3e3e3;
        font-size: 1.5rem;
        font-weight: bolder;
    }
}

.logo_img{margin: 7px;}


/*nav+ hamburger button*/

        ::after,
        ::before {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        nav.hamburger-menu {
            position: fixed;
            background-color:  #e3e3e3;
            color: #9a6aff;
            width: 100%;
            padding:10px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            
            
        }

        nav.hamburger-menu .logo {
            margin: 0 70px 0 40px;
            font-size: 26px;
            font-style: italic;
            background-color:  #e3e3e3;
            color: #9a6aff;
            font-weight: bold;
            
        }

        nav.hamburger-menu ul {
            list-style: none;
            background-color:  #e3e3e3;
            margin: 0;
            padding: 0;
        }

        nav.hamburger-menu li {
            list-style: none;
            display: inline;
            margin: 0 40px 0 0;
            font-size: 20px;
            font-style: oblique;
            font-weight: lighter;
            background-color: #e3e3e3;
            
        }


        nav.hamburger-menu a {
            color:  #9a6aff;
            text-decoration: none;
        }
        nav.hamburger-menu a:hover{
            color: #e3e3e3;
        }

        nav.hamburger-menu li:hover {
            background-color: #9a6aff;
            padding: 8px;
            border-radius: 5px;
        }

        nav.hamburger-menu #controllo {
            opacity: 0;
        }

        @media all and (max-width:768px) {
            nav.hamburger-menu li {
                list-style: none;
                display: flex;
                flex-direction: column;
                margin: 0 40px 0 0;
                padding: 10px;
                font-size: 20px;
                font-style: oblique;
                font-weight: lighter;
                background-color: black;
            }
            nav.hamburger-menu .label-controllo {
                position: fixed;
                top: 18px;
                left: 20px;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
            }
            nav.hamburger-menu .label-controllo>span,
            nav.hamburger-menu .label-controllo>span::before,
            nav.hamburger-menu .label-controllo>span::after {
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: #9a6aff;
                transition: .30s;
            }

            nav.hamburger-menu .label-controllo>span::before {
                content: '';
                top: -8px;
            }

            nav.hamburger-menu .label-controllo>span::after {
                content: '';
                top: 8px;
            }       

            nav.hamburger-menu #menu {
                display: block;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                padding: 80px 0;
                background-color: black;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
                transition-duration: .30s;
            }

            nav.hamburger-menu .vocemenu {
                display: block;
                padding: 12px 24px;
                color: #9a6aff;
                font-size: 1.5rem;
                font-weight: 600;
                transition: .30s;
            }

            nav.hamburger-menu .vocemenu:hover {
                background-color:rgba(0, 0, 0, 0.781);
                color: #9a6aff;
            }

            #controllo:checked+.label-controllo>span {
                transform: rotate(45deg);
            }
            #controllo:checked+.label-controllo>span::before {
                top: 0;
                transform:rotate(0deg);
            }
            #controllo:checked+.label-controllo>span::after {
                top: 0;
                transform: rotate(90deg);
            }

            #controllo:checked~#menu {
                left: 0 !important;
            }
        }


/*footer*/


.footer {
    margin-top: 50px;
    background-color: #e3e3e3;
    color:  #1e2029;
}

.footer a { 
    color:  #1e2029;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
}

.footer a:hover {
    text-decoration: underline;
}

.rigaFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding:20px;
    
}

.privacy {
    padding: 10px ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
    
    
}



    /*media queries footer smartphone*/


@media screen and (max-width: 800px) {
    .spacer{height: 50px;}
    .logo_img{display:none;}
    .footer {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .rigaFooter {
        margin: 0;
        padding: 0;
        flex-direction: column;
        text-align: center;
    }
    .footer ul {
        padding: 0;
    }
}

/*media queries footer tablet*/

@media screen and (max-width: 1024px) {
    .spacer{height: 80px;}

    .logo_img{height: 50px;width: auto;}
    .footer {
        width: 100%;
        margin: 10px;
        padding: 10px;
    }
    
    .rigaFooter {
        margin: 10px;
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }
    .footer ul {
        padding: 10px;
    }
}